<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.finnapps.piggybank"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />

    <permission
        android:name="es.finnapps.piggybank.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="es.finnapps.piggybank.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="es.finnapps.piggybank.roboguice.PiggyBankAplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BrowsePigsActivity"
            android:label="@string/title_activity_browse_pigs_activicity" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.doorthing.door" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatePiggyActivity"
            android:label="@string/title_activity_create_piggy" >
        </activity>
        <activity
            android:name=".activities.RegisterActivty"
            android:label="@string/title_activity_register_activty" >
        </activity>
        <activity
            android:name=".activities.Register2Activty"
            android:label="@string/title_activity_register_activty" >
        </activity>
        <activity
            android:name=".activities.DetailPiggyActivity"
            android:label="@string/title_activity_detail_piggy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="es.finnapps.piggybank" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GCMIntentService" />
    </application>

</manifest>